<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Place</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'add.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home/">Home</a></li>
          <li><a href="/add/">Add Rental</a></li>
          <li><a href="/addMyPlace/">Add My Place</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signout/"><span class="glyphicon glyphicon-log-out"></span>Sign out</a></li>
        </ul>
      </div>
    </nav>
    <br/>
    {% if error == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          That address was not found or is invalid!
        </div>
    {% elif error == 2 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          You've already input that address!
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="post" action="/addMyPlace/">
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit"/>
            </form>
        </div>
    </div>
</body>
</html>