<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Rental</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'add.css' %}" />
</head>
<body>
    <div class="topnav">
      <a class="active" href="/home/">Home</a>
      <a href="/add/">Add Rental</a>
        <a href="/addMyPlace/">Add My Place</a>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="post" action="/update/?property=rental">
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit"/>
            </form>
        </div>
    </div>
    <form action="/signout/">
        <input type="submit" value="Sign out"/>
    </form>
</body>
</html>