h1 {
    position: relative;
    left: 40%;
    color: white;
}

body {
    background-image: url("b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form.createf {
    border: black;
}

p.text1 {
    color: white;
}

div.alert {
    position: absolute;
    font-weight: bold;
    color: red;
    left: 40%;
    top: 5%;
}


