h1 {
    position: relative;
    text-align: center;
    color: white;
}

body {
    background-image: url("b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form.signinf {
    position: absolute;
    left: 44%;
    top: 10%;
    background-color: white;
    border: black;
}

form.backf {
    position: absolute;
    top: 17%;
    left: 44%;
}

input.b1 {
    position: absolute;
    left: 78%
}

div.alert {
    position: absolute;
    font-weight: bold;
    color: red;
    left: 45%;
    top: 8%;
}


