h1 {
    position: relative;
    left: 41%;
    color: white;
}

body {
    background-image: url("b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form.signinf {
    border: black;
}

p.text1 {
    color: white
}